body {
  background: #0b0b0f;
  color: white;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
}

.game-box {
  width: 500px;
  text-align: center;
  border: 2px solid crimson;
  padding: 20px;
}

.title {
  color: crimson;
}

.scene img {
  width: 100%;
  height: 220px;
  object-fit: cover;
  border: 1px solid #333;
}

.buttons {
  margin-top: 15px;
}

button {
  background: crimson;
  color: white;
  border: none;
  padding: 10px;
  margin: 5px;
}
#sceneImage {
  height: 300px; /* 350 yerine */
  object-position: center;
}
