body {
  background-color: #0b0b0f;
  color: white;
  text-align: center;
  font-family: Arial, sans-serif;
}

#box {
  width: 60px;
  height: 60px;
  background-color: #c1121f;
  position: absolute;   /* ÖNEMLİ */
  cursor: pointer;
}
button {
  margin: 10px;
  padding: 10px 20px;
  background-color: #c1121f;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #ff1e2d;
}

